@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #50514B;
}

body, a {
  color: #50514B;
}

ul {
  list-style: none;
}

.dropdown {
  margin-top: 3%;
}

.dropdown-item {
  padding: 7px;
  margin: 0;
}

.dropdown button {
  width: 160px;
}

#recent-products, #product-details, #usa-products, #most-reviewed-product {
  text-align: center;
  background-color: #7F8F85;
}

li.well, .breadcrumb, nav, ul.navbar-right a:hover {
  background-color: #DED7BD;
}

.text-light, h2 {
  color: #DED7BD;
}
