<h1>Products</h1>

<% if @products.any? %>
  <% @products.each do |product| %>
    <ul>
      <li><%= link_to product.name, product_path(product) %></li>
    </ul>
  <% end %>
<% else %>
  <p>Products coming soon!!!!</p>
<% end %>
